body {
  background-color: #23eae6;
  margin: 0;
}
p {
  color: #f4f9f4;
  text-align: center;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;

}
table{
  color: #f4f9f4;
  font-family: 'PT Sans', sans-serif;
}
ol{
  color: #f4f9f4;
  font-family: 'PT Sans', sans-serif;
}
li{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
tr{
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}
ul{
  color: #f4f9f4;
  font-family: 'PT Sans', sans-serif;
}
h1{
  color: #f4f9f4;
  text-align: center;
  margin: 0 auto 0 auto;
  font-family: 'PT Sans', sans-serif;
}
img {
   margin-left: 530px;
}


h3{
  color: white;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

hr {
  border-style: none;
  border-top-style:ridge;
  border-color: white;
  border-width: 5px;
  width: 30%;
}
a{
  text-align: center;
  font-size: 24px;
  font-family: 'PT Sans', sans-serif;
}
label{
  font-family: 'PT Sans', sans-serif;
  color: #f4f9f4;
}
.navigation ul li a {
  display: inline-block;
  margin: 0 50px;
  color: inherit;
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: .05em;
  border-color: #12d3cf;
}
.navigation ul li a:hover,
.navigation ul li .active a {
  color: #f4f9f4;
}
