body{
  background-color: #23eae6;
}
h1{
  color: #fff;
  text-align: center;
}
h2{
  color: #fff;
  text-align: center;
}
h3{
  color: #fff;
  text-align: center;
}
li{
  color: #fff;
  text-align: center;
}
